.cls-1 {
    fill: url(#linear-gradient);
  }
  
  .cls-2 {
    font-size: 201.81px;
    fill: #29aae1;
    font-family: Poppins-ExtraBold, Poppins;
    font-weight: 800;
  }
  
  .cls-3 {
    font-size: 156.2px;
    fill: #29aae1;
    font-family: Poppins-ExtraBold, Poppins;
    font-weight: 800;
  }
  
  .cls-4 {
    font-size: 53.7px;
    fill: #7ad1f6;
    font-family: Poppins-Light, Poppins;
    font-weight: 300;
  }
  